@import url("https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap");

body {
  background-color: #202124;
  color: white;
  font-family: "Rubik Lines", sans-serif;
  font-size: 20px;
}

#image {
  animation: intro 3s 1;
}

#text {
  animation: text 1s 1;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe,
    0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  font-size: 24px;
}
#box {
  position: absolute;
  right: 0;
  animation: scroll 5s linear infinite;

  padding: 0rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.205);
  backdrop-filter: blur(2px);
  width: 10rem;
  height: 10rem;
}

#box:hover {
  animation-play-state: paused;
}

#btn {
  padding: 1.2rem 2.4rem;
  font-family: "Rubik Lines", sans-serif;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  background-image: url(https://media.istockphoto.com/id/1348578576/vector/glowing-halftone-neon-background.jpg?s=612x612&w=0&k=20&c=erPXkmcG3zCjS1YL0_znbGIGxMQ-iO0BO0XcEgfbZyw=);
}

#btn:active {
  scale: 0.9;
  transition: all 0.2s ease;
}

.title-wrapper {
  padding: 0rem 2rem;
  max-width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.205);
  backdrop-filter: blur(2px);
  margin: 0 auto;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.cards-wrapper {
  scale: 0;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  animation: cards-intro 1s ease-in-out both;
  animation-delay: 2s;
}

.card {
  padding: 4rem 0;
  width: 8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.205);
  backdrop-filter: blur(2px);
  animation: tilt-shaking 6s ease-in-out infinite;
  animation-delay: 2s;
}

.card p {
  text-align: center;
}

.card:hover {
  scale: 1.1;
  transition: scale 0.4s ease-in;
  cursor: pointer;
}

.card:active {
  scale: 1.1;
  transition: scale 0.4s ease-in;
}

.hide-text {
  opacity: 0;
  transition: all 2s ease;
}

@keyframes intro {
  100% {
    bottom: 0;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text {
  100% {
  }
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0);
    opacity: 0;
  }
}

@keyframes tilt-shaking {
  96% {
    transform: rotate(0deg);
  }
  97% {
    transform: rotate(5deg);
  }
  98% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cards-intro {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes flash {
  from {
    transform: rotate(0deg);
  }
  92% {
    transform: rotate(5deg);
  }
  93% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(-5deg);
  }
  96% {
  }
  to {
    transform: rotate(0deg);
  }
}
